* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #9BBEC8;
}

.calculator {
  width: 200px;
  margin: 10px auto;
  text-align: center;  
  padding: 30px;
  grid-template-rows: 1fr 1fr auto; 
  background-color: aquamarine;   
}

input,
button {
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}


.grid-container {
  display: grid;  
  grid-template-columns: repeat(2, 1fr);  
  gap: 5px;
  padding: 5px;
}

button {
  background-color: #427D9D;  
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #FF9130;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transform: translateY(-3px); 
}

#result {
  font-weight: bold;
  font-size: 18px;
}